.category-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin: 2rem
}

.category-filter-item {
  font-size: 25px;
  padding: 8px 12px;
  background-color: rgb(210,57,121);
  color: white;
  border: 2px solid rgb(210,57,121);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s, color 0.4s;
}

.category-filter-item.selected {
  color : rgb(210,57,121);
  border: 2px solid rgb(210,57,121);
  background-color: #ffffff;

}

.category-filter-item:hover {
  color : rgb(210,57,121);
  border: 2px solid rgb(210,57,121);
  background-color: #ffffff;
}

