.movie-card {
  border: 3px solid rgb(16, 0, 102);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 350px;
  min-height: 150px;
  box-sizing: border-box;
}

.movie-card:hover {
  box-shadow: 7px 5px 17px 0px rgb(16, 0, 102, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.movie-card h3 {
  margin: 0;
  font-weight: bold;
  color: rgb(83, 43, 227);
}

.movie-card h4 {
  margin: 0 0 1rem 0;
  font-style: italic;
  color: rgb(16, 0, 102);
}

.movie-card p {
  margin: 4px 0;
}

.delete-button {
  background: #f7f7f7;
  color: #fff;
  border-color: #e60000;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.delete-button:hover {
  background: #e60000;
}
.gauge-wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: 100%;
}

.gauge-container {
  flex: 1;
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.gauge {
  height: 100%;
  background: #4caf50; 
  transition: width 0.3s;
}

.gauge-value {
  margin-left: 8px;
  font-weight: bold;
}