.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button-icon {
  font-size: 36px;
  margin: 0 8px;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-slider {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s ease;
}

.toggle-switch.off .toggle-slider {
  transform: translateX(15px);
}

.toggle-switch.on .toggle-slider {
  transform: translateX(-15px);
}
